body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}
#navbar{
  position: absolute;
  top: 0px;
}
Map{
  height: 100vh;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
.register{width: 70%;
margin: auto;}  
.connexion{width: 70%;
    margin: auto;}
    .hello{color: #45a049;text-align: center;margin-top: 2%;margin-right: 5%;}
    .br{width: 100%;margin-right: 20%;margin-left: 20%;}

