
  .map {
    height: 100%;
    z-index: 0;
  }
  
  .aside {
    height: 60%;
    width: 25vw;
    opacity: 70%;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 20vh;
    z-index: 5;
    text-align: center;
  }